
body{
  font-family: Glacial Indifference, sans-serif;
  align-items: center;
  justify-content:center;
  vertical-align: center;
  height:100%; width: 100%;
  display: flex;
  z-index:0;
  background-color: #F2EEE9;
}
#background{
  z-index:-1;
  background-color: red;
  with:100%;height:100%;
  position:fixed;
}
.sidebar {
  max-width: 30%;
  float: left;
  position: absolute; left: 20px;
  vertical align-center;
  height: 100%;
  margin: auto;
  z-index:1;
  }
    .topfiller {
    align-self: flex-start;
    margin: auto;
    max-height: 30%;
    height: 25%;
  }
  .title:hover {
    opacity: 50%;
  }
  .title {
    max-width: 30%;
    margin: auto;
    z-index: 4;
  }
  .bottomfiller {
    align-self: flex-end;
    margin: auto;
    max-height: 30%;
  }
.rightsquare {
  margin-top:10%;
  display: flex;
  height: 500px; width: 500px;
  background-color: white;
  position: absolute;
  float:right;
  right: 70px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  z-index:1;
  vertical-align: middle;
  padding: 10px;
}
  .Braun-T31{
    height: 100px; width: 100px;
    display: inline-block;
    order: 1;
    text-align: center;
    margin: auto;
    z-index: 2;
    position: relative;
    top: -260px; right: 80px;
    align-self: center;
  }
  #Braun-T31{
    position: absolute;
    top: 20px; right: 80px;
  }
    .Braun-T31: hover{
      indent: 0px;
      z-index: 2;
    }
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    span{
      position: absolute;
      left:460px; top: 10px;
      width: 50px;height:50px;
      background color:none;
      color: white;
      margin: auto;
      z-index: 4;
      background-image: url(close.png); opacity: 0.3;
    }
  .button{
    position: absolute;
    right:200px; top: 320px;
    width: 50px;height:50px;
    border-radius: 25px;
    background color:red;
    margin: none;
    z-index: 5;
  }
.stations{
  list-style: none;
  list-style-type: none;
}
.Station1{
  position: absolute;
    width: 50px;height:50px;
    top: 300px; left: 320px;
}
.Station2{
  text-indent:10px;
  position: absolute;
    width: 50px;height:50px;
    top: 370px; left: 260px;
    z-index: 4;
}
.Station3{
  text-indent:10px;
  position: absolute;
    width: 50px;height:50px;
    top: 280px; left: 230px;
    z-index: 4;
  }
=======
=======
>>>>>>> Stashed changes
  .button{
    position: relative;
    left:220px; top: 90px;
    width: 50px;height:50px;
    background color:red;
    margin: auto;
    z-index: 4;
  }
.Station1{
  position: absolute;
    width: 50px;height:50px;
    top: 300px; left: 330px;
}

<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
h1 {
  color:black;
  font-size: 40px;
  line-height:50px;
}
h4 {
  text-indent: -9999px;
  font-size: 20px;
  line-height: 20px;
}
h4: hover{
  text-indent:50px;
}
